body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-family: "Poppins", sans-serif;
  color: #5a6aca;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
  margin-left: 10px;
}
h2 {
  color: white;
  padding-top: 10px;
}
h3 {
  font-size: 18px;
  color: #ec6e4d;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
img {
  margin-right: 10px;
}
.weather-app-wrapper {
  width: 650px;
  margin: 10px auto;
}
.weather-app {
  padding: 20px;
  border: 2px solid;
  border-color: #5a6aca;
  border-radius: 4px;
  box-shadow: 5px 5px 10px lightgray;
  background-color: #5a6aca;
}
.search-text {
  border-style: solid;
  border-color: #5a6275;
  border-width: 1px;
  width: 250px;
}
.search-button {
  color: #5a6aca;
  background-color: white;
  border-radius: 25px;
  border-style: solid;
  border-color: #5a6275;
  border-width: 1px;
  padding: 2px 8px;
  margin-left: 10px;
  transition: all 200ms ease-in-out;
}
.search-button:hover {
  color: white;
  background-color: #5a6aca;
  border-color: white;
}
.day-time {
  color: #45a6f5;
  font-size: 12pt;
  font-style: italic;
}
.degree {
  font-size: 34pt;
  color: white;
  position: relative;
  top: 10px;
}
.units {
  color: white;
  position: relative;
  bottom: 10px;
}
.fahrenheit-link {
  text-decoration: none;
  color: white;
}
.fahrenheit-link:hover {
  text-decoration: none;
  color: #45a6f5;
}
.celsius-link {
  text-decoration: none;
  color: white;
}
.celsius-link:hover {
  text-decoration: none;
  color: #45a6f5;
}
.weather-details {
  color: white;
  font-size: 20px;
}
.condition {
  text-transform: capitalize;
}
.code-link {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 8px;
  text-align: center;
}
.weather-forecast-box {
  border: solid 1px;
  border-color: #5a6275;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #5a6275;
  width: 85px;
  background-color: #45a6f5;
}
.weather-forecast-date {
  font-size: 14px;
  color: white;
  margin-top: 3px;
}
.weather-forecast-temperature {
  color: white;
  font-size: 14px;
}
.weather-forecast-temp-min {
  opacity: 0.7;
}
